body{
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
}
a{
	text-decoration: underline;
	color: #3278CD;
}
a.disabled{
	color: #8E8E8E;
}
a:not(.disabled):hover{
	text-decoration: none;
}
p{
	margin: 0;
}
section > .container,
section > div > .container{
    max-width: 1180px;
    margin: auto;
}
section > .container > .row,
section > div > .container > .row{
	display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: space-around;
            justify-content: space-around;
}

section.first{
	padding-bottom: 30px;
	padding-top: 70px;
	text-align: center;
}
section.first .avatar{
	position: relative;
}
section.first .avatar img{
	position: relative;
	z-index: 2;
	border: 10px solid #121E42;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
section.first h1{
	margin-top: 10px;
	margin-bottom: 12px;
	font-size: 24px;
	text-align: center;
	color: #27396A;
	font-weight: 500;
	line-height: 192%;
}
section.first h1:first-line{
	font-weight: bold;
	font-size: 36px;
	color: #121E42;
}
section.first h2{
	color: #3278CD;
	margin-top: 0;
	margin-bottom: 50px;
	font-size: 14px;
	line-height: 136%;
	font-weight: 500;
}
section.first h2 small{
	display: block;
	line-height: 120%;
}
section.first .socials a{
	margin-left: 40px;
}
section.first .socials a:first-child{
	margin-left: 0;
}
section.first .email{
	margin-top: 10px;
	font-size: 14px;
	line-height: 136%;
}
section.first .scroll{
	margin-top: 103px;
}

section.stack{
	position: relative;
	display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
}
section.stack > div{
	color: #E7EEF2;
	width: 50%;
	padding-top: 60px;
	padding-bottom: 107px;
}
section.stack .php{
	background: #8892be;
	text-align: right;
}
section.stack .js{
	text-align: left;
	background: #6cc24a;
}
section.stack .container{
	width: 590px;
	display: inline-block;
	text-align: center;
}
section.stack .container p:nth-child(1){
	font-size: 72px;
	font-weight: bold;
	line-height: 136%;
}
section.stack .container p:nth-child(2){
	margin-top: 20px;
	font-size: 18px;
	line-height: 136%;
}
section.stack .comment{
	position: absolute;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	bottom: 25px;
	padding: 0;
}

section.cases{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 120px;
}
section.cases p:nth-child(1){
	font-weight: bold;
	font-size: 48px;
	line-height: 136%;
	color: #121E42;
}
section.cases p:nth-child(2){
	margin-top: 20px;
	margin-bottom: 70px;
}
section.cases .column p{
	font-size: 14px;
	line-height: 136%;
}

section.other{
	background: #E7EEF2;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
}
section.other.white{
	background: #FFF;
}
section.other p:nth-child(1) {
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	color: #121E42;
	margin-bottom: 50px;
}
section.other .project + .project{
	margin-top: 30px;
}
section.other h3{
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 500;
}
section.other p{
	font-size: 16px;
	max-width: 700px;
	margin: auto;
	line-height: 136%;
}

section.banner{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 140px;
}
section.banner .header{
	color: #27396A;
	font-size: 13px;
	line-height: 136%;
}
section.banner .header a{
	display: block;
	font-size: 18px;
}
section.banner h1{
	margin-top: 85px;
	font-weight: bold;
	font-size: 36px;
	line-height: 136%;
	color: #121E42;
	margin-bottom: 0;
}
section.banner h2{
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 500;
	color: #27396A;
	line-height: 136%;
}
section.banner h3{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 136%;
	font-size: 18px;
	font-weight: 500;
	color: #3278CD;
}

section.description{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 80px;
}
section.description.blue{
	background: #E7EEF2;
}
section.description h3{
	margin: 0;
	font-weight: bold;
	font-size: 36px;
	line-height: 136%;
	text-align: center;
	color: #121E42;
}
section.description .text{
	max-width: 830px;
	padding: 0 15px;
	margin: auto;
	margin-top: 10px;
	font-size: 18px;
	line-height: 136%;
	text-align: center;
	color: #27396A;
}
section.description button{
	border: 0;
	border-radius: 3px;
	padding: 10px 30px;
	background: #121E42;
	color: #FFF;
	cursor: pointer;
	margin-top: 20px;
	font-size: 26px;
	opacity: 0.8;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
section.description button:hover{
	opacity: 1;
}

section.features{
	padding-top: 55px;
	padding-bottom: 50px;
}
section.features .header{
	margin-bottom: 55px;
	font-weight: bold;
	font-size: 36px;
	line-height: 136%;
	text-align: center;
	color: #121E42;
}
section.features .row > .column{
	width: 50%;
}
section.features .image{
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	opacity: 0.15;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 306px;
}
section.features .row:hover .image{
	opacity: 1;
}
section.features .image.right{
	position: relative;
	right: -50%;
}
section.features .image.right + .column{
	position: relative;
	right: 50%;
}
section.features .column{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}
section.features .text{
	display: inline-block;
	vertical-align: middle;
	padding: 15px;
	font-size: 18px;
	line-height: 136%;
	color: #121E42;
}
section.features .column:nth-child(1) .text{
	text-align: right;
}
section.features .center{
	text-align: center;
	padding-top: 50px;
}
section.features .center .head{
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 36px;
	line-height: 136%;
	color: #121E42;
}
section.features .center img{
	max-width: 100%;
}

footer{
	padding: 50px 0;
	text-align: center;
	background: #121E42;
}
footer a{
	color: #E7EEF2;
	font-size: 36px;
	font-weight: bold;
}

@media(max-width:1200px) {
	section.stack .container{
		width: 100%;
	}
	section.features .text{
		font-size: 16px;
	}
}

@media(max-width:870px) {
	section > .container > .row,
	section > div > .container > .row{
		display: block;
	}
	section.stack{
		display: block;
	}
	section.stack > div{
		padding-top: 50px;
		padding-bottom: 50px;
		width: 100%;
	}
	section.stack .js{
		padding-bottom: 60px;
	}
	section.stack .container p:nth-child(1){
		font-size: 36px;
	}
	section.stack .container p:nth-child(2){
		margin-top: 0;
	}
	section.stack .comment{
		bottom: 10px;
	}
	section.cases{
		padding-bottom: 50px;
	}
	section.cases p:nth-child(2){
		margin-bottom: 50px;
	}
	section.cases p:nth-child(2){
		margin-bottom: 20px;
	}
	section.cases .column{
		padding-bottom: 30px;
	}
	section.features .image.right{
		position: static;
	}
	section.features .image.right + .column{
		position: static;
		text-align: center;
	}
	section.features .row{
		padding-bottom: 20px;
	}
	section.features .row > .column{
		width: 100%;
		text-align: center;
	}
	section.features .column:nth-child(1) .text{
		text-align: center;
	}
	section.features img{
		max-width: 100%;
	}
}
